<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Release</key>
	<dict>
		<key>BaseAPIURL</key>
		<string>http://168.63.234.13/dbphp</string>
		<key>ImageURL</key>
		<string>http://168.63.234.13/apppatrika/App_Storage</string>
	</dict>
	<key>Debug</key>
	<dict>
		<key>BaseAPIURL</key>
		<string>http://168.63.234.13/dbphp</string>
		<key>ImageURL</key>
		<string>http://168.63.234.13/apppatrika/App_Storage</string>
	</dict>
</dict>
</plist>
